* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
}
.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login > img {
}
.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: white;
}
